<h1>Hello</h1>
<p>Get your shawarma here</p>


<% if @active_delivery %>
  <p>Order collection will be closed at <%= @active_delivery.close_at %></p>
<% elsif @future_delivery %>
  <p>Order collection will start at <%= @future_delivery.start_at %></p>
<% end %>